customtkinter
Nuitka
numba
numpy
onnxruntime
openai-whisper
piper-tts
pipwin
PyAudio
pydantic
pydantic_core
requests
sounddevice
SpeechRecognition
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118